<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="DC.Language" SCHEME="RFC1766" content="Spanish">
<meta name="author" content="Comunidad Pubdev">
<meta name="reply-to" content="Serome111@gmail.com">
<link rev="made" href="mailto:Serome111@gmail.com">
<meta name="description" content="Comunidad de desarrolladores de software sin animo de lucro">
<meta name="KEYWORDS" content="Developer, community, engineers, software">
<meta name="Resource-type" content="Index">
<meta name="Revisit-after" content="60 days">
<meta name="robots" content="follow">
<link rel="icon" href="images/icono_low.png">
<title>PubDev</title>