<nav id="nav">
	<ul class="links">
		<li><a href="/" class="active">INICIO</a></li>
		<li><a href="/registro">REGISTRATE</a></li>
		<li><a href="/eventos">EVENTOS</a></li>
		<li><a href="/salondefama">SALON DE LA FAMA</a></li>
		<li><a href="/equipo">EQUIPO</a></li>
		<!--<li><a href="#">PATROCINADORES</a></li> -->
	</ul>
</nav>