<!DOCTYPE html>
<html lang="es">

<head>

  {{>head}}
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/css/simple-sidebar.css" rel="stylesheet">
</head>
<body>
  <div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><img src="../images/logo.png" alt="50" width="50"> <a href="/sudo">administrador</a></div>
      <div class="list-group list-group-flush">
        <a href="/sudo/crear-evento" class="list-group-item list-group-item-action bg-light">Crear eventos</a>
        <a href="/sudo/ver-usuarios" class="list-group-item list-group-item-action bg-light">Ver usuarios</a>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Puntos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/sudo/GeneradorDePuntos">Generador de codigos</a>
        </div>
        <a href="/sudo/cerrar-session" class="list-group-item list-group-item-action bg-light">Cerrar session</a>
      </div>
    </div>
    <div id="page-content-wrapper">
      <button class="btn btn-primary" id="menu-toggle">Menu lateral</button>
      <div class="container">
        <h1 class="mt-4">Bienvenido Nick name vas a crear un evento</h1>
        <p>Recuerda que todo se hace con previo aviso =D al grupo de administradores</p>
        <!-- formulario-->
          <form id="formCrearEvento" method="post" action="/sudo/crear-evento/form" enctype="multipart/form-data">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre del evento</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="nombre" id="nombreEvento">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Imagen</label>
              <div class="col-sm-10">
                <input type="file" name="foto" class="form-control-file" id="imgEvento">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">descripcion del evento</label>
              <div class="col-sm-10">
                 <textarea class="form-control" name="descripcion" id="descripcionEvento" rows="3"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Fecha</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" name="fecha" id="fecha">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Hora</label>
              <div class="col-sm-10">
                <input type="time" class="form-control" name="hora" id="hora">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Pais</label>
              <div class="col-sm-10">
                <select class="form-control" id="pais" name="pais">
                  <option>Colombia</option>
                </select>
              </div>
            </div>
            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Tipo de evento</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="tipoEvento" id="gridRadios1" value="virtual" checked>
                    <label class="form-check-label" for="gridRadios1">
                      virtual
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="tipoEvento" id="gridRadios2" value="precencial">
                    <label class="form-check-label" for="gridRadios2">
                      precencial
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
            <div class="form-group row">
              <div class="col-sm-2">Correo</div>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" name="checkboxCorreosMasivos" name="correoMasivos" type="checkbox" id="gridCheck1">
                  <label class="form-check-label" for="gridCheck1">
                    Enviar correos a nuestros usuarios registrados
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" id="btnCrear" class="btn btn-primary">Crear</button>
              </div>
            </div>
          </form>
        <!-- fin del formulario --> 

      </div>
         
    </div>
  </div>
  <script src="../resource/script?src=jquery-min&token={{token}}"></script>
  <script src="../resource/script?src=bootstrap-bundle-min&token={{token}}"></script>
  <script src="../resource/script?src=admcreareventos&token={{token}}"></script>
  <script src="../resource/script?src=sweetalert2&token={{token}}"></script>
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
</body>
</html>
