<!DOCTYPE html>
<html lang="es">
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>PubDev</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="DC.Language" SCHEME="RFC1766" content="Spanish">
    <meta name="author" content="Sebastian Roa Meneses">
    <meta name="reply-to" content="Serome111@gmail.com">
    <link rev="made" href="mailto:Serome111@gmail.com">
    <meta name="description" content="web en desarrollo">
    <meta name="KEYWORDS" content="palabras clave">
    <meta name="Resource-type" content="Index">
    <meta name="Revisit-after" content="60 days">
    <meta name="robots" content="follow">
    <link rel="icon" href="images/icono_low.png">
    <link rel="stylesheet" href="assets/css/eventos.css" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="assets/css/main.css" />

</head>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <h1>EQUIPO</h1><br />
            <p>Co-organizadores de la comunidad</p>
        </header>

        <!-- Main -->
        <div id="main">

            <nav id="nav">
                <ul class="links">
                    <li><a href="/" class="active">INICIO</a></li>
                    <li><a href="/registro">REGISTRATE</a></li>
                    <li><a href="/eventos">EVENTOS</a></li>
                    <li><a href="/salondefama">SALON DE LA FAMA</a></li>
                    <li><a href="/equipo">EQUIPO</a></li>

                    <!--<li><a href="#">PATROCINADORES</a></li> -->
                </ul>
            </nav>

            <!-- Contenido -->

            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Dana Yeraldinne García </h2>
                        </header>
                        <p>Sed lorem ipsum dolor sit amet nullam consequat feugiat consequat magna
                            adipiscing magna etiam amet veroeros. Lorem ipsum dolor tempus sit cursus.
                            Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.</p>
                        <footer class="major">
                            <ul class="icons">
                                <li><a href="#" class="icon brands fa-twitter alt"><span
                                            class="label">Twitter</span></a></li>
                                <li><a href="#" class="icon brands fa-facebook-f alt"><span
                                            class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon brands fa-instagram alt"><span
                                            class="label">Instagram</span></a></li>
                                <li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a>
                                </li>
                            </ul>

                        </footer>
                    </div>
                    <span class="image"><img src="images/DANA.png" alt="" /></span>
                </div>

            </section>
            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Ipsum sed adipiscing</h2>
                        </header>
                        <p>Sed lorem ipsum dolor sit amet nullam consequat feugiat consequat magna
                            adipiscing magna etiam amet veroeros. Lorem ipsum dolor tempus sit cursus.
                            Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.</p>
                    </div>
                    <span class="image"><img src="images/pic01.jpg" alt="" /></span>
                </div>
            </section>
            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Ipsum sed adipiscing</h2>
                        </header>
                        <p>Sed lorem ipsum dolor sit amet nullam consequat feugiat consequat magna
                            adipiscing magna etiam amet veroeros. Lorem ipsum dolor tempus sit cursus.
                            Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.</p>
                    </div>
                    <span class="image"><img src="images/pic01.jpg" alt="" /></span>
                </div>
            </section>
            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Ipsum sed adipiscing</h2>
                        </header>
                        <p>Sed lorem ipsum dolor sit amet nullam consequat feugiat consequat magna
                            adipiscing magna etiam amet veroeros. Lorem ipsum dolor tempus sit cursus.
                            Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.</p>
                    </div>
                    <span class="image"><img src="images/pic01.jpg" alt="" /></span>
                </div>
            </section>
            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Ipsum sed adipiscing</h2>
                        </header>
                        <p>Sed lorem ipsum dolor sit amet nullam consequat feugiat consequat magna
                            adipiscing magna etiam amet veroeros. Lorem ipsum dolor tempus sit cursus.
                            Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.</p>
                    </div>
                    <span class="image"><img src="images/pic01.jpg" alt="" /></span>
                </div>
            </section>
            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Ipsum sed adipiscing</h2>
                        </header>
                        <p>Sed lorem ipsum dolor sit amet nullam consequat feugiat consequat magna
                            adipiscing magna etiam amet veroeros. Lorem ipsum dolor tempus sit cursus.
                            Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.</p>
                    </div>
                    <span class="image"><img src="images/pic01.jpg" alt="" /></span>
                </div>
            </section>
        </div>


        <!-- Footer -->
        <footer id="footer">
            <section style="align-items: center;">
                <header class="major">
                    <h2>Nuestras redes sociales</h2>
                </header>


            </section>
            <section style="align-items: center;">
                <ul class="icons">
                    <li><a href="https://twitter.com/pubdev01" target="_blank" class="icon brands fa-twitter alt"><span
                                class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/pubdev" target="_blank"
                            class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/pubdev" target="_blank"
                            class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
                    <li><a href="https://t.me/joinchat/DS7d-VbynYfq5sKTrMDYtA" target="_blank"
                            class="icon brands fa-telegram alt"><span class="label">Telegram</span></a></li>
                </ul>
            </section>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

    <script src="assets/js/eventos.js"></script>

</body>

</html>