<!DOCTYPE html>
<html lang="es">
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    
    {{>head}}
    <link rel="stylesheet" href="assets/css/eventos.css" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="assets/css/main.css" />

</head>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <h1>EQUIPO</h1><br />
            <p>Co-organizadores de la comunidad</p>
        </header>

        <!-- Main -->
        <div id="main">

            {{>nav}}

            <!-- Contenido -->

            <!-- SEBASTIAN -->

            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Sebastian Roa Meneses </h2>
                        </header>
                        <p>Eso es lo que amo de este lugar, todos los secretos, todas las pequeñas 
                        cosas que nunca noté, incluso después de todos estos años. 
                        ¿Sabes por qué esto es mejor que el trabajo individial? 
                        El trabajo individial es solo caos. Es un accidente. 
                        Pero aquí, cada detalle se suma a algo.        
                        Tomado y editado de "El hombre de negro"</p>
                        <footer class="major">
                            <ul class="icons">
                                <li><a href="https://twitter.com/Serome111" class="icon brands fa-twitter alt"><span
                                            class="label">Twitter</span></a></li>
                                <li><a href="https://www.facebook.com/Serome111" class="icon brands fa-facebook-f alt"><span
                                            class="label">Facebook</span></a></li>
                                <li><a href="https://www.instagram.com/sebastian.roa.meneses/" class="icon brands fa-instagram alt"><span
                                            class="label">Instagram</span></a></li>
                                <li><a href="https://github.com/serome111" class="icon brands fa-github alt"><span class="label">GitHub</span></a>
                                </li>
                            </ul>

                        </footer>
                    </div>
                    <span class="image"><img src="images/sebas.jpg" alt="" /></span>
                </div>
            </section>

            <!-- DANA -->

            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Dana Yeraldinne García </h2>
                        </header>
                        <p>Estudiante de Ingeniería de Software.
                            <br> Conocimientos de desarrollo en Java y Python, DataScience.
                            <br> React Developer</p>
                        <footer class="major">
                            <ul class="icons">
                                <li><a href="https://twitter.com/yeralcoqueco" class="icon brands fa-twitter alt"><span
                                            class="label">Twitter</span></a></li>
                                <li><a href="https://www.facebook.com/yeralcoqueco"
                                        class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a>
                                </li>
                                <li><a href="https://www.instagram.com/yeralcoqueco/"
                                        class="icon brands fa-instagram alt"><span class="label">Instagram</span></a>
                                </li>

                            </ul>

                        </footer>
                    </div>
                    <span class="image"><img src="images/yeral.jpg" alt="" /></span>
                </div>
            </section>

            <!-- JUAN EDISON -->

            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Juan Edison Giraldo Zuluaga </h2>
                        </header>
                        <p>Programador por pasión, amo el arte de aprender, soy apasionado por mi trabajo, el escribir código es mi pasión, 
                            y creo que la vida se vive una linea de código a la vez, y es muy corta para poder hacer investigaciones.</p>
                        <footer class="major">
                            <ul class="icons">
                                <li><a href="#" class="icon brands fa-facebook-f alt"><span
                                            class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon brands fa-instagram alt"><span
                                            class="label">Instagram</span></a></li>
                                <li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a>
                                </li>
                            </ul>

                        </footer>
                    </div>
                    <span class="image"><img src="images/Juan.jpg" alt="" /></span>
                </div>
            </section>


            <!-- BAUTISTA -->

            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Juan Bautista</h2>
                        </header>
                        <p>Un apasionado por las artes y la tecnologia, que encontró en el desarrollo de 
                            software la combinación de ambos mundos el punto ideal para expresar su talento.  
                            Disfruta de la lectura, los viajes, la cultura geek y charlas acompañadas de un buen café.
                            Entusiasta por la constante busqueda del aprendizaje y trascendencia de las cosa.</p>
                        <footer class="major">
                            <ul class="icons">
                                
                                <li><a href="https://www.instagram.com/juanbau93/" class="icon brands fa-instagram alt"><span
                                            class="label">Instagram</span></a></li>
                                <li>
                                    <a href="https://github.com/jbau93" class="icon brands fa-github alt"><span class="label">GitHub</span>
                                    </a>
                                </li>
                            </ul>

                        </footer>
                    </div>
                    <span class="image"><img src="images/Bautista.jpg" alt="" /></span>
                </div>
            </section>

            <!-- ANDRES FELIPE -->

            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Andrés Felipe Peña Ramirez </h2>
                        </header>
                        <p>............</p>
                        <footer class="major">
                            <ul class="icons">
                                <li><a href="#" class="icon brands fa-facebook-f alt"><span
                                            class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon brands fa-instagram alt"><span
                                            class="label">Instagram</span></a></li>
                                <li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a>
                                </li>
                            </ul>

                        </footer>
                    </div>
                    <span class="image"><img src="images/andres.jpg" alt="" /></span>
                </div>
            </section>

            <!-- ALEX -->

            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Alex Andrés Palencia </h2>
                        </header>
                        <p>Desarrollador PHP con conocimientos en laravel, melómano e investigador poniendo en practica la ideología de el amor eficaz.</p>
                        <footer class="major">
                            <ul class="icons">
                                <li><a href="https://www.facebook.com/andres.palenciaaragonez/" class="icon brands fa-facebook-f alt"><span
                                            class="label">Facebook</span></a></li>
                                <li><a href="https://www.instagram.com/alex_palencia_27/" class="icon brands fa-instagram alt"><span
                                            class="label">Instagram</span></a></li>
                                <li><a href="https://github.com/AlexPalencia" class="icon brands fa-github alt"><span class="label">GitHub</span></a>
                                </li>
                            </ul>

                        </footer>
                    </div>
                    <span class="image"><img src="images/alex.jpg" alt="" /></span>
                </div>
            </section>



        </div>


       {{>footer}}

    </div>

    <!-- Scripts -->
    <script src="resource/script?src=jquery-min"></script>
    <script src="resource/script?src=jquery-scrollex-min"></script>
    <script src="resource/script?src=jquery-scrolly-min"></script>
    <script src="resource/script?src=browser-min"></script>
    <script src="resource/script?src=breakpoints-min"></script>
    <script src="resource/script?src=util"></script>
    <script src="resource/script?src=main"></script>

    <script src="resource/script?src=eventos"></script>

</body>

</html>
