<!DOCTYPE html>
<html lang="es">
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	{{>head}}
	<link rel="stylesheet" href="assets/css/eventos.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	<link rel="stylesheet" href="assets/css/main.css" />

</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1>EVENTOS</h1><br />
			<p>Cada día contribuimos a que existan más personas en el area de la tecnología y desarrollo de software con
				una visión diferente para el mundo, pensando siempre en la reducción de brechas de género, desigualdades
				sociales y la contribución a un mundo tecnológico con oportunidades.</p>
		</header>

		<!-- Main -->
		<div id="main">

			{{> nav}}

			<section class="main">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>Histórico de eventos</h2>
							<div class="grid-container">
								<div class="grid-item">4 <br> Actividades realizadas</div>
								<div class="grid-item">{{cantidad}} <br> Participantes</div>
							</div>
						</header>
						<!-- <ul class="actions">
							<li><a href="#" class="button">Conocer más...</a></li>
						</ul> -->
					</div>
				</div>

				<header class="major">
					<h2>Eventos Realizados</h2>
				</header>

				<section id="content" class="tiles">

					<!-- EVENTO Hablemos de FrontEnd-->
					<article class="style1">
						<span class="image">
							<img src="images/evento1.png" alt="Imagen evento">
						</span>
						<a href="/evento">

							<div class="content">
								<h2 style="color: white;">Hablemos de FrontEnd</h2>
								<p><strong>Fecha:</strong>Lunes, 20 de abril</p>
								<p><strong>Hora:</strong>06:00 P.M.</p>
							</div>
						</a>
					</article>
					<!-- EVENTO Hablemos de ciberseguridad-->
					<article class="style1">
						<span class="image">
							<img style="width: 140%;" src="images/eventoHDCS.jpg" alt="Imagen evento">
						</span>
						<a href="/evento2">

							<div class="content">
								<h2 style="color: white;">Hablemos de ciberseguridad</h2>
								<p><strong>Fecha:</strong>Lunes, 04 de Mayo</p>
								<p><strong>Hora:</strong>06:00 P.M.</p>
							</div>
						</a>
					</article>
					
					<!-- EVENTO Hablemos de ciberseguridad 1.1-->
					<article class="style1">
						<span class="image">
							<img style="width: 140%;" src="images/evento3.jpg" alt="Imagen evento">
						</span>
						<a href="/evento3">

							<div class="content">
								<h2 style="color: white;">Hablemos de ciberseguridad 1.1</h2>
								<p><strong>Fecha:</strong>Lunes, 18 de mayo</p>
								<p><strong>Hora:</strong>06:00 P.M.</p>
							</div>
						</a>
					</article>

					<!-- EVENTO Hablemos de Inteligencia Artificial-->
					<article class="style1">
						<span class="image">
							<img style="width: 140%;" src="images/evento4.jpg" alt="Imagen evento">
						</span>
						<a href="/evento4">

							<div class="content">
								<h2 style="color: white;">Hablemos de Inteligencia Artificial</h2>
								<p><strong>Fecha:</strong>Lunes, 25 de abril</p>
								<p><strong>Hora:</strong>06:00 P.M.</p>
							</div>
						</a>
					</article>
					
				</section>
			</section>
		</div>


		{{> footer}}
	</div>

	<!-- Scripts -->
	<script src="resource/script?src=jquery-min"></script>
	<script src="resource/script?src=jquery-scrollex-min"></script>
	<script src="resource/script?src=jquery-scrolly-min"></script>
	<script src="resource/script?src=browser-min"></script>
	<script src="resource/script?src=breakpoints-min"></script>
	<script src="resource/script?src=util"></script>
	<script src="resource/script?src=main"></script>
	<script src="resource/script?src=eventos"></script>

</body>

</html>