<!DOCTYPE html>
<html lang="es">
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	{{>head}}
	<link rel="stylesheet" href="assets/css/eventos.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	<link rel="stylesheet" href="assets/css/main.css" />

</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1>EVENTOS</h1><br />
			<p>Cada día contribuimos a que existan más personas en el area de la tecnología y desarrollo de software con
				una visión diferente para el mundo, pensando siempre en la reducción de brechas de género, desigualdades
				sociales y la contribución a un mundo tecnológico con oportunidades.</p>
		</header>

		<!-- Main -->
		<div id="main">

			{{> nav}}

			<section class="main">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>Histórico de eventos</h2>
							<div class="grid-container">
								<div class="grid-item">2 <br> Actividades realizadas</div>
								<div class="grid-item">41 <br> Participantes</div>
							</div>
						</header>
						<!-- <ul class="actions">
							<li><a href="#" class="button">Conocer más...</a></li>
						</ul> -->
					</div>
				</div>

				<header class="major">
					<h2>Eventos Realizados</h2>
				</header>

				<section id="content" class="tiles">


					<article class="style1">
						<span class="image">
							<img src="images/evento1.png" alt="Imagen evento">
						</span>
						<a href="/evento">

							<div class="content">
								<h2 style="color: white;">Hablemos de FrontEnd</h2>
								<p><strong>Fecha:</strong>Lunes, 20 de abril</p>
								<p><strong>Hora:</strong>06:00 P.M.</p>
							</div>
						</a>
					</article>

					<article class="style1">
						<span class="image">
							<img style="width: 140%;" src="images/eventoHDCS.jpg" alt="Imagen evento">
						</span>
						<a href="/evento2">

							<div class="content">
								<h2 style="color: white;">Hablemos de ciberseguridad</h2>
								<p><strong>Fecha:</strong>Lunes, 04 de abril</p>
								<p><strong>Hora:</strong>06:00 P.M.</p>
							</div>
						</a>
					</article>
					<!-- <article class="style2">
					<span class="image">
						<img src="images/pic02.jpg" alt="" />
					</span>
					<a href="/evento">
						<h2>Lorem</h2>
						<div class="content">
							<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
						</div>
					</a>
				</article>
				<article class="style3">
					<span class="image">
						<img src="images/pic03.jpg" alt="" />
					</span>
					<a href="/evento">
						<h2>Feugiat</h2>
						<div class="content">
							<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
						</div>
					</a>
				</article>
				<article class="style4">
					<span class="image">
						<img src="images/pic04.jpg" alt="" />
					</span>
					<a href="/evento">
						<h2>Tempus</h2>
						<div class="content">
							<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
						</div>
					</a>
				</article>
				<article class="style5">
					<span class="image">
						<img src="images/pic05.jpg" alt="" />
					</span>
					<a href="/evento">
						<h2>Aliquam</h2>
						<div class="content">
							<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
						</div>
					</a>
				</article>
				<article class="style6">
					<span class="image">
						<img src="images/pic06.jpg" alt="" />
					</span>
					<a href="/evento">
						<h2>Veroeros</h2>
						<div class="content">
							<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
						</div>
					</a>
				</article> -->
				</section>
			</section>
		</div>


		{{> footer}}
	</div>

	<!-- Scripts -->
	<script src="resource/script?src=jquery-min"></script>
	<script src="resource/script?src=jquery-scrollex-min"></script>
	<script src="resource/script?src=jquery-scrolly-min"></script>
	<script src="resource/script?src=browser-min"></script>
	<script src="resource/script?src=breakpoints-min"></script>
	<script src="resource/script?src=util"></script>
	<script src="resource/script?src=main"></script>
	<script src="resource/script?src=eventos"></script>

</body>

</html>