<!DOCTYPE html>
<html lang="es">

<head>
	{{> head}}
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet"
		href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
		integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	<title>PubDev</title>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h1><strong>PubDev</strong></h1>
			<p>Una comunidad sin animo de lucro</p>
		</header>

		<!-- Main -->
		<div id="main">

			<!-- Introduction -->
			<section id="intro" class="main">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>ERROR 403</h2>
						</header>
						<p>Permisos denegados para acceder a ésta página.</p>
						<a href="/">Regresar al inicio</a>
					</div>
					<span class="image"><img src="images/logo.png" alt="" /></span>
				</div>
			</section>
		</div>


		{{> footer}}

	</div>

	<!-- Scripts -->
	<script src="resource/script?src=jquery-min"></script>
	<script src="resource/script?src=jquery-scrollex-min"></script>
	<script src="resource/script?src=jquery-scrolly-min"></script>
	<script src="resource/script?src=browser-min"></script>
	<script src="resource/script?src=breakpoints-min"></script>
	<script src="resource/script?src=util"></script>
	<script src="resource/script?src=main"></script>
</body>

</html>