<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="DC.Language" SCHEME="RFC1766" content="Spanish">
	<meta name="author" content="Sebastian Roa Meneses">
	<meta name="reply-to" content="Serome111@gmail.com">
	<link rev="made" href="mailto:Serome111@gmail.com">
	<meta name="description" content="Software community, Software Developer">
	<meta name="KEYWORDS" content="Developer, community, engineers">
	<meta name="Resource-type" content="Index">
	<meta name="Revisit-after" content="60 days">
	<meta name="robots" content="follow">
	<link rel="icon" href="images/icono_low.png">
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet"
		href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
		integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	<title>PubDev</title>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h1><strong>PubDev</strong></h1>
			<p>Una comunidad sin animo de lucro</p>
		</header>

		<!-- Main -->
		<div id="main">

			<!-- Introduction -->
			<section id="intro" class="main">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>ERROR 403</h2>
						</header>
						<p>Permisos denegados para acceder a ésta página.</p>
						<a href="/">Regresar al inicio</a>
					</div>
					<span class="image"><img src="images/logo.png" alt="" /></span>
				</div>
			</section>
		</div>


		<!-- Footer -->
		<footer id="footer">
			<section style="align-items: center;">
				<header class="major">
					<h2>Nuestras redes sociales</h2>
				</header>


			</section>
			<section style="align-items: center;">
				<ul class="icons">
					<li><a href="https://twitter.com/pubdev01" target="_blank" class="icon brands fa-twitter alt"><span
								class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/pubdev" target="_blank"
							class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/pubdev" target="_blank"
							class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
					<li><a href="https://t.me/joinchat/DS7d-VbynYfq5sKTrMDYtA" target="_blank"
							class="icon brands fa-telegram alt"><span class="label">Telegram</span></a></li>
					<li><a href="https://www.youtube.com/channel/UCkWzkTACfvry7fwIkFRoKIQ" target="_blank"
							class="icon brands fa-youtube alt"><span class="label">YouTube</span></a></li>
				</ul>
			</section>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
</body>

</html>