<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	{{> head}}
	<link rel="stylesheet" href="assets/css/salonFamas1.css" />
	<link rel="stylesheet" href="assets/css/main.css" />

	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1>EVENTO</h1>
			<p>Primer Webinar de PubDev</p>
		</header>

		<!-- Main -->
		<div id="main">

			{{> nav}}


			<!-- Content -->
			<section id="content" class="main">

				<header class="major main special">
					<h2>HABLEMOS DE FRONTEND</h2>
				</header> <span class=" image" style="width: 70%; display:block; margin:auto; "><img
						src="images/evento1.png" alt="Imagen evento"></span><br>

				<section id="first" class="main special">
					<header class="major">
						<h2>INVITADOS ESPECIALES</h2>
					</header>
					<ul class="features">
						<li>
							<span class="icon major "><img style="width: 200px; height: 200px; border-radius: 100%;"
									src="images/oscar.jpg" alt="" /></span>
							<h3 style="text-transform: uppercase;">Oscar Barajas Tavares</h3>
							<p style="text-align: justify;">Foundation Layer & Frontend Developer en Platzi, Facebook
								Developer Lead,
								ReactJS Developer, Speaker y Blogger.</p>
							</p>
						</li>
						<li>
							<span class="icon major "><img style="width: 200px; height: 200px; border-radius: 100%;"
									src="images/luisa.jpg" alt="" /></span>
							<h3 style="text-transform: uppercase;">Luisa Rodríguez</h3>
							<p style="text-align: justify;">Front-End dev & Data Analyst. Líder PionerasDev & PyLadies
								Colombia, co-organizador
								Git Conf Colombia.</p>
						</li>
						<li>
							<span class="icon major "><img style="width: 200px; height: 200px; border-radius: 100%;"
									src="images/herman.jpg" alt="" /></span>
							<h3 style="text-transform: uppercase;">Herman Orlando Morales López</h3>
							<p style="text-align: justify;">Frontend Developer con 10 años de experiencia, Mobile
								developer 3 años
								de experiencia. Actualmente UX-UI developer. Peleador profesional de MMA
								Apasionado de Flutter, React, Angular, SpringBoot, Kotlin</p>
						</li>
					</ul>
					<footer class="major">
						<ul class="actions special">
							<li><a target="_blank" href="https://www.youtube.com/watch?v=q0df3EdriYA" class="button">VER
									WEBINAR</a></li>
						</ul>
					</footer>
				</section>
			</section>
		</div>

		{{> footer}}

	</div>
	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>