<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	{{> head}}
	<link rel="stylesheet" href="assets/css/salonFamas1.css" />
	<link rel="stylesheet" href="assets/css/main.css" />

	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1>EVENTO</h1>
			<p>Hablemos de Ciberseguridad 1.1</p>
		</header>

		<!-- Main -->
		<div id="main">

			{{> nav}}

			<!-- Content -->
			<section id="content" class="main">

				<header class="major main special">
					<h2>HABLEMOS DE CIBERSEGURIDAD 1.1</h2>
				</header> <span class=" image" style="width: 70%; display:block; margin:auto; "><img
						src="images/evento3.jpg" alt="Imagen evento"></span><br>

				<section id="first" class="main special">
					<header class="major">
						<h2>INVITADOS ESPECIALES</h2>
					</header>
					<ul class="features">
						<li>
							<span class="icon major "><img style="width: 200px; height: 200px; border-radius: 100%;"
									src="images/manuelh.jpg" alt="" /></span>
							<h3 style="text-transform: uppercase;">Manuel Hernandez</h3>
							<p style="text-align: justify;"></p>
							</p>
						</li>
						<li>
							<span class="icon major "><img style="width: 200px; height: 200px; border-radius: 100%;"
									src="images/RaulAlde.png" alt="" /></span>
							<h3 style="text-transform: uppercase;">Raúl Alderete</h3>
							<p style="text-align: justify;">Entusiasta de las tecnologías libres y la ciberseguridad.
								Conoció Linux hace un poco más de 10 años motivado por aprender sobre programación,
								administración de redes y ethical hacking.

								Trabaja como colaborador en varios proyectos Open Source como es el caso del Proyecto
								ParrotOS (distribución orientada a Pentesters, Sysadmins y usuarios que le dan
								importancia a su privacidad en internet).

								Tiene su propio negocio/empresa, una academia de Ciberseguridad (CS-Academy) donde
								oferta cursos de Linux, Ciberseguridad, Ethical Hacking y Servicios de Soporte y
								Consultoría.

								Su formación profesional en el area de las TIC fue autodidacta, dejó su carrera
								universitaria de "Cultura Física" (era deportista, Voleibol) para estudiar lo que le
								gusta y aunque no se lo recomienda a nadie (dejar una carrera universitaria), no se
								arrepiente.
							</p>
						</li>
						<li>
							<span class="icon major "><img style="width: 200px; height: 200px; border-radius: 100%;"
									src="images/alejandro.png" alt="" /></span>
							<h3 style="text-transform: uppercase;">Alejandro Rivera</h3>
							<p style="text-align: justify;">Ingeniero en tecnologías de información por la Universidad
								interamericana para el desarrollo.

								Consultor preventivo en materia de ciberseguridad, especializado en la protección de
								activos digitales e infraestructuras críticas, generación e implementación deplanes de
								continuidad de negocio y recuperación ante desastres.

								Colaborador / fundador en el Instituto de Ciberseguridad.

								Propulsor de la generación de conciencia en ciberseguridad que busca incentivar a las
								organizaciones en México y latinoamerica a implementar planes de culturización que les
								permitan convertir a sus usuarios en una primera línea de defensa ante incidentes
								informáticos.

								Ponente de charlas y cursos sobre prevención de delitos informáticos y riesgos del uso
								de internet en diversas instituciones como centro de inclusión digital de la secretaría
								de comunicaciones y transportes, universidad autónoma de Coahuila, en la cámara de la
								Industria maquiladora de exportación (Index reynosa), así como en múltiples foros y
								plataformas de internet.</p>
						</li>
					</ul>

					<iframe width="560" height="315" src="https://www.youtube.com/embed/mcEirZ4mJyo" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>

					<footer class="major">
						<ul class="actions special">
							<li><a target="_blank" href="https://www.youtube.com/watch?v=mcEirZ4mJyo" class="button">VER
									WEBINAR</a></li>
						</ul>
					</footer>
				</section>
			</section>


		</div>

		{{> footer}}

	</div>
	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>