<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	{{> head}}
	<link rel="stylesheet" href="assets/css/salonFamas1.css" />
	<link rel="stylesheet" href="assets/css/main.css" />

	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1>EVENTO</h1>
			<p>Primer Webinar de PubDev</p>
		</header>

		<!-- Main -->
		<div id="main">

			{{> nav}}

			<!-- Content -->
			<section id="content" class="main">

				<header class="major main special">
					<h2>HABLEMOS DE CIBERSEGURIDAD</h2>
				</header> <span class=" image" style="width: 70%; display:block; margin:auto; "><img
						src="images/eventoHDCS.jpg" alt="Imagen evento"></span><br>

				<section id="first" class="main special">
					<header class="major">
						<h2>INVITADOS ESPECIALES</h2>
					</header>
					<ul class="features">
						<li>
							<span class="icon major "><img style="width: 200px; height: 200px; border-radius: 100%;"
									src="images/cristian.jpg" alt="" /></span>
							<h3 style="text-transform: uppercase;">CRISTIÁN ROJAS</h3>
							<p style="text-align: justify;">Profesor, consultor y expositor en ciberseguridad.

								Consultor en Seguridad de la Información, ofrece a compañías y startups servicios de
								implementación, consultoría, coaching y cursos en desarrollo seguro de software,
								ciberseguridad y políticas de seguridad TI.
								Profesor de Ciberseguridad en 3 universidades (Universidad de Chile, Pontificia
								Universidad Católica de Chile, Universidad Adolfo Ibañez) y conferencista de seguridad
								en eventos.</p>
							</p>
						</li>
						<li>
							<span class="icon major "><img style="width: 200px; height: 200px; border-radius: 100%;"
									src="images/kelly.jpg" alt="" /></span>
							<h3 style="text-transform: uppercase;">Kelly Villa</h3>
							<p style="text-align: justify;">Full Stack Dev en Holberton School, miembro de Pioneras
								Developers (líder nodo
								Barranquilla)
								Le gusta el desarrollo web, hacer laboratorios de seguridad, ha pertenecido a proyectos
								de aseguramiento perimetral.
								Investigación en curso que se centra en la seguridad y hacking sobre plataformas IoT.
							</p>
						</li>
						<li>
							<span class="icon major "><img style="width: 200px; height: 200px; border-radius: 100%;"
									src="images/julio.jpg" alt="" /></span>
							<h3 style="text-transform: uppercase;">Julio Augusto Rangel Medina</h3>
							<p style="text-align: justify;">Consultor/Asesor en Desarrollo, implementación y seguridad
								web, bugHunter, pentester.</p>
						</li>
					</ul>
					<footer class="major">
						<ul class="actions special">
							<li><a target="_blank" href="https://www.youtube.com/channel/UCkWzkTACfvry7fwIkFRoKIQ"
									class="button">VER WEBINAR</a></li>
						</ul>
					</footer>
				</section>
			</section>


		</div>

		{{> footer}}

	</div>
	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>