<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>PubDev</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="DC.Language" SCHEME="RFC1766" content="Spanish">
	<meta name="author" content="Sebastian Roa Meneses">
	<meta name="reply-to" content="Serome111@gmail.com">
	<link rev="made" href="mailto:Serome111@gmail.com">
	<meta name="description" content="web en desarrollo">
	<meta name="KEYWORDS" content="palabras clave">
	<meta name="Resource-type" content="Index">
	<meta name="Revisit-after" content="60 days">
	<meta name="robots" content="follow">
	<link rel="icon" href="images/icono_low.png">
	<link rel="stylesheet" href="assets/css/salonFamas1.css" />
	<link rel="stylesheet" href="assets/css/main.css" />

	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1>EVENTO</h1>
			<p>Primer Webinar de PubDev</p>
		</header>

		<!-- Main -->
		<div id="main">

			<nav id="nav">
				<ul class="links">
					<li><a href="/" class="active">INICIO</a></li>
					<li><a href="/registro">REGISTRATE</a></li>
					<li><a href="/eventos">EVENTOS</a></li>
					<li><a href="/salondefama">SALON DE LA FAMA</a></li>
					<li><a href="/equipo">EQUIPO</a></li>

					<!--<li><a href="#">PATROCINADORES</a></li> -->
				</ul>
			</nav>

			<!-- Content -->
			<section id="content" class="main">

				<header class="major main special">
					<h2>HABLEMOS DE CIBERSEGURIDAD</h2>
				</header> <span class=" image" style="width: 70%; display:block; margin:auto; "><img
						src="images/eventoHDCS.jpg" alt="Imagen evento"></span><br>

				<section id="first" class="main special">
					<header class="major">
						<h2>INVITADOS ESPECIALES</h2>
					</header>
					<ul class="features">
						<li>
							<span class="icon major "><img style="width: 200px; height: 200px; border-radius: 100%;"
									src="images/cristian.jpg" alt="" /></span>
							<h3 style="text-transform: uppercase;">CRISTIÁN ROJAS</h3>
							<p style="text-align: justify;">Profesor, consultor y expositor en ciberseguridad.

								Consultor en Seguridad de la Información, ofrece a compañías y startups servicios de
								implementación, consultoría, coaching y cursos en desarrollo seguro de software,
								ciberseguridad y políticas de seguridad TI.
								Profesor de Ciberseguridad en 3 universidades (Universidad de Chile, Pontificia
								Universidad Católica de Chile, Universidad Adolfo Ibañez) y conferencista de seguridad
								en eventos.</p>
							</p>
						</li>
						<li>
							<span class="icon major "><img style="width: 200px; height: 200px; border-radius: 100%;"
									src="images/kelly.jpg" alt="" /></span>
							<h3 style="text-transform: uppercase;">Kelly Villa</h3>
							<p style="text-align: justify;">Full Stack Dev en Holberton School, miembro de Pioneras
								Developers (líder nodo
								Barranquilla)
								Le gusta el desarrollo web, hacer laboratorios de seguridad, ha pertenecido a proyectos
								de aseguramiento perimetral.
								Investigación en curso que se centra en la seguridad y hacking sobre plataformas IoT.
							</p>
						</li>
						<li>
							<span class="icon major "><img style="width: 200px; height: 200px; border-radius: 100%;"
									src="images/julio.jpg" alt="" /></span>
							<h3 style="text-transform: uppercase;">Julio Augusto Rangel Medina</h3>
							<p style="text-align: justify;">Consultor/Asesor en Desarrollo, implementación y seguridad
								web, bugHunter, pentester.</p>
						</li>
					</ul>
					<footer class="major">
						<ul class="actions special">
							<li><a target="_blank" href="https://www.youtube.com/channel/UCkWzkTACfvry7fwIkFRoKIQ"
									class="button">VER WEBINAR</a></li>
						</ul>
					</footer>
				</section>
			</section>


		</div>

		<!--Footer-->
		<footer id="footer">
			<section style="align-items: center;">
				<header class="major">
					<h2>Nuestras redes sociales</h2>
				</header>


			</section>
			<section style="align-items: center;">
				<ul class="icons">
					<li><a href="https://twitter.com/pubdev01" target="_blank" class="icon brands fa-twitter alt"><span
								class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/pubdev" target="_blank"
							class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/pubdev" target="_blank"
							class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
					<li><a href="https://t.me/joinchat/DS7d-VbynYfq5sKTrMDYtA" target="_blank"
							class="icon brands fa-telegram alt"><span class="label">Telegram</span></a></li>
				</ul>
			</section>
		</footer>

	</div>
	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>