<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	{{> head}}
	<link rel="stylesheet" href="assets/css/salonFamas1.css" />
	<link rel="stylesheet" href="assets/css/main.css" />

	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1>EVENTO</h1>
			<p>Hablemos de Inteligencia Artificial</p>
		</header>

		<!-- Main -->
		<div id="main">

			{{> nav}}

			<!-- Content -->
			<section id="content" class="main">

				<header class="major main special">
					<h2>HABLEMOS DE INTELIGENCIA ARTIFICIAL</h2>
				</header> <span class=" image" style="width: 70%; display:block; margin:auto; "><img
						src="images/evento4.jpg" alt="Imagen evento"></span><br>

				<section id="first" class="main special">
					<header class="major">
						<h2>INVITADOS ESPECIALES</h2>
					</header>
					<ul class="features">
						<li>
							<span class="icon major "><img style="width: 200px; height: 200px; border-radius: 100%;"
									src="images/anaya.jpg" alt="" /></span>
							<h3 style="text-transform: uppercase;">Andrés Anaya Isaza</h3>
							<p style="text-align: justify;">Profesor, consultor y expositor en ciberseguridad.

								Ingeniero de sistemas, Msc, PhD(C)
								Científico en inteligencia artificial e imagenología diagnóstica.

								Apasionado de la Inteligencia Artificial, Divulgador Científico, Investigador en
								Bioingeniería, Neurociencia, Biomedicina y Guitarrista de Rock</p>
							</p>
						</li>
						<li>
							<span class="icon major "><img style="width: 200px; height: 200px; border-radius: 100%;"
									src="images/carolinaUribe.png" alt="" /></span>
							<h3 style="text-transform: uppercase;">Carolina Uribe</h3>
							<p style="text-align: justify;">Co – founder Atrae Negocios, una empresa para generar
								oportunidades de negocios empresariales.

								Emprendedora desde el 2017, con conocimiento y pasión por la ciencia de datos con
								Python.

								Co Host de LinkedInLocal Colombia, la comunidad de LinkedIn. Embajadora de WIDS junto a
								Data Science Fem para formación y empoderamiento de científicas de datos.

							</p>
						</li>
						<li>
							<span class="icon major "><img style="width: 200px; height: 200px; border-radius: 100%;"
									src="images/CristianGarcia.jpg" alt="" /></span>
							<h3 style="text-transform: uppercase;">Cristian García</h3>
							<p style="text-align: justify;">Machine Learning Engineer con experiencia en matemáticas y
								física. Amplia experiencia en la creación de aplicaciones de Deep Learning en campos
								como vehículos autónomos, análisis de video y manufactura..</p>
						</li>
					</ul>

					<iframe width="560" height="315" src="https://www.youtube.com/embed/044MFcRDcKY" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>

					<footer class="major">
						<ul class="actions special">
							<li><a target="_blank" href="https://www.youtube.com/watch?v=044MFcRDcKY" class="button">VER
									WEBINAR</a></li>
						</ul>
					</footer>
				</section>
			</section>


		</div>

		{{> footer}}

	</div>
	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>