<!DOCTYPE html>
<html lang="es">
<!--
	Miniport by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<title>PubDev</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="DC.Language" SCHEME="RFC1766" content="Spanish">
	<meta name="author" content="Sebastian Roa Meneses">
	<meta name="reply-to" content="Serome111@gmail.com">
	<link rev="made" href="mailto:Serome111@gmail.com">
	<meta name="description" content="Comunidad de aprendizaje de desarrolladores del huila">
	<meta name="KEYWORDS" content="palabras clave">
	<meta name="Resource-type" content="Index">
	<meta name="Revisit-after" content="60 days">
	<meta name="robots" content="follow">
	<link rel="icon" href="images/icono_low.png">

	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Header -->
		<header id="header">
			<h1>REGISTRA TUS PUNTOS</h1>
		</header>
		<!-- Main -->
		<div id="main">

			<nav id="nav">
				<ul class="links">
					<li><a href="/" class="active">INICIO</a></li>
					<li><a href="/registro">REGISTRATE</a></li>
					<li><a href="/eventos">EVENTOS</a></li>
					<li><a href="/salondefama">SALON DE LA FAMA</a></li>
					<li><a href="/equipo">EQUIPO</a></li>
					<!--<li><a href="#">PATROCINADORES</a></li> -->
				</ul>
			</nav>
			<!-- Content -->

			<!-- Form -->
			<section class="main">
					<div class="row gtr-uniform">
						<div class="col-12 col-12-xsmall">
							<input type="text" id="correo" placeholder="Correo de usuario Pubdev" required />
						</div>
						<div class="col-12 col-12-xsmall">
							<input type="email" id="codigo" placeholder="Codigo del evento" required />
						</div>
						<div class="col-12">
							<ul class="actions">
								<li><input type="button" id="btnRegistrarse" value="Registrar" /></li>
							</ul>
						</div>
					</div>
			</section>


		</div>

		<!--Footer-->
		<footer id="footer">
			<section style="align-items: center;">
				<header class="major">
					<h2>Nuestras redes sociales</h2>
				</header>


			</section>
			<section style="align-items: center;">
				<ul class="icons">
					<li><a href="https://twitter.com/pubdev01" target="_blank" class="icon brands fa-twitter alt"><span
								class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/pubdev" target="_blank"
							class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/pubdev" target="_blank"
							class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
					<li><a href="https://t.me/joinchat/DS7d-VbynYfq5sKTrMDYtA" target="_blank"
							class="icon brands fa-telegram alt"><span class="label">Telegram</span></a></li>
					<li><a href="https://www.youtube.com/channel/UCkWzkTACfvry7fwIkFRoKIQ" target="_blank"
							class="icon brands fa-youtube alt"><span class="label">YouTube</span></a></li>
				</ul>
			</section>
		</footer>

	</div>

	</div>

	<!-- PREVISUALIZAR LA IMAGEN -->
	<script>
		document.getElementById("btnRegistrarse").addEventListener("click", function (e){
			var correo = document.getElementById("correo").value;
			var codigo = document.getElementById("codigo").value;
			if(validarDatos(correo, codigo)){
				var url = "/sudo//GeneradorDePuntos/cargarPuntos"
              fetch(url, {
                method: 'POST',
                body: JSON.stringify({
                    correo: correo,
					codigo: codigo
                    }),
                headers:{
                    'Content-Type': 'application/json'
                  }
                }).then(res => res.json())
                .catch(error => console.error('Error:', error))
                .then(response => alertas(response));
			}else{

			}
		});
		function alertas(datos){

			datos = datos.estado;
			console.log(datos)
			if(datos == true){
				alert("ya tienes los puntos =D")
			}else if(datos == "Codigo Expirado"){
				alert("codiogo a expirado")
			}else if(datos == "No Existe"){				
				alert("codigo no existe")
			}else if(datos == "Ya Tienes Codigo"){
				alert("no puedes repetir mas de una vez")
			}else if(datos == "No Estas Registrado"){
				alert("No estas registrado")
			}
		}
		function validarDatos(correo, codigo){
			if(validarEmail(correo) && validarCodigo(codigo)){
				return true
			}else{
				return false
			}
		}
		function validarCodigo(codigo){
			if (codigo.length == 8){
				return true
			}else{
				return false
			}
		}
		function validarEmail(email){
  			var regex = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
			return regex.test(email) ? true : false;
		}
	</script>

	<!-- Scripts -->
	<script src="resource/script?src=jquery-min"></script>
	<script src="resource/script?src=jquery-scrollex-min"></script>
	<script src="resource/script?src=jquery-scrolly-min"></script>
	<script src="resource/script?src=browser-min"></script>
	<script src="resource/script?src=breakpoints-min"></script>
	<script src="resource/script?src=util"></script>
	<script src="resource/script?src=main"></script>

</body>

</html>