<!DOCTYPE html>
<html lang="es">
<!--
	Miniport by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>PubDev</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="DC.Language" SCHEME="RFC1766" content="Spanish">
		<meta name="author" content="Sebastian Roa Meneses">
		<meta name="reply-to" content="Serome111@gmail.com">
		<link rev="made" href="mailto:Serome111@gmail.com">
		<meta name="description" content="Comunidad de aprendizaje de desarrolladores del huila">
		<meta name="KEYWORDS" content="palabras clave">
		<meta name="Resource-type" content="Index">
		<meta name="Revisit-after" content="60 days">
		<meta name="robots" content="follow"> 
		<link rel="icon" href="images/icono_low.png">
		<link rel="stylesheet" href="assets/css/salonFamas1.css" />
		<!--Menu-->
		<link rel="stylesheet" href="assets/css/menu.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Header -->
					<header id="header">
						<div class="inner">
							
							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/">Inicio</a></li>
							<li><a href="/eventos">Eventos</a></li>
							<li><a href="">Calendario</a></li>
							<li><a href="/salondefama">Salon de La Fama</a></li>
						</ul>
					</nav>

		<!-- Contact -->
			<article id="contact" class="wrapper style4">
				<div class="container medium">
					<header>
						<h2>PubDev</h2>
						<p>Registrate y uneta a nuestra comunidad.</p>
					</header>
					<div class="row">
						<div class="col-12">
							<form>
								<div class="row">
									<div class="col-12">
										<input type="text" name="name" id="name" placeholder="Nombre" />
									</div>
									<div class="col-6 col-12-small">
										<input type="email" name="email" id="email" placeholder="Correo" />
									</div>
									<div class="col-6 col-12-small">
										<input type="text" name="subject" id="subject" placeholder="Usuario" />
									</div>
									<div class="col-6 col-12-small">
										<input type="password" name="pass1" id="pass1" placeholder="Contraseña" />
									</div>
									<div class="col-6 col-12-small">
										<input type="password" name="pass2" id="pass2" placeholder="Confirma tu contraseña" />
									</div>
									<h3>Herramientas en las cuales tiene conocimiento</h3>
									<div class="col-6 col-12-small">
										 <select id="Back">
										 	<option>Back-end</option>
											<option>PHP</option>
									  		<option>Python</option>
									  		<option>Javascript</option>
									  		<option>Typescript</option>
									  		<option>Java</option>
									  		<option>Ruby</option>
									  		<option>C++</option>
									  		<option>C</option>
									  		<option>VSB(Macros Excel)</option>
									  		<option>Otro</option>
									  		</select>
									</div>

									<div class="col-6 col-12-smajll">
										 <select id="Front">
										 	<option>Front-End</option>
										 	<option>HTML5</option>
											<option>Bootstrap</option>
									  		<option>CSS3</option>
									  		<option>Fundation</option>
									  		<option>Mustach</option>
									  		<option>Angular</option>
									  		<option>Material</option>
									  		<option>Otro</option>
									  		</select>

									</div>

									<div class="col-12 col-12-smajll file-upload">
										<input id="fileup" type="file" class="file-upload " name="foto" multiple>
										<label class="file-upload icon solid fa-upload" for="fileup"> Subir Foto</label>
									</div>
									<div class="col-12">
										<textarea name="message" id="message" placeholder="Una frase inspiradora que quieras memorar"></textarea>
									</div>
									<div class="col-12">
										<ul class="actions">
											<li><input type="button" id="btnRegistrarse" value="Registrarse" /></li>
											<li><input type="reset" value="Limpiar Formulario" class="alt" /></li>
										</ul>
									</div>
								</div>
							</form>
						</div>
						<div class="col-12">
							<hr/>
							<h3>Siguenos en ...</h3>
							<ul class="social">
								<!-- <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li> -->
								<li><a href="https://www.facebook.com/pubdev" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://github.com/pubdevs" class="icon brands fa-github"><span class="label">Github</span></a></li>
								<li><a href="https://www.instagram.com/pubdev" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							</ul>
							<hr />
						</div>
					</div>
					<footer>
						<ul id="copyright">
							<li>&copy; Hecho con el ❤️ <a href="https://torrentesoftware.com"></a></li>
						</ul>
					</footer>
				</div>
			</article>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/menu.js"></script>
			<script src="assets/js/registro.js"></script>
			<script src="assets/js/sweetalert2.js"></script>

	</body>
</html>
