<!DOCTYPE html>
<html lang="es">
<!--
	Miniport by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>PubDev</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="DC.Language" SCHEME="RFC1766" content="Spanish">
	<meta name="author" content="Sebastian Roa Meneses">
	<meta name="reply-to" content="Serome111@gmail.com">
	<link rev="made" href="mailto:Serome111@gmail.com">
	<meta name="description" content="Comunidad de aprendizaje de desarrolladores del huila">
	<meta name="KEYWORDS" content="palabras clave">
	<meta name="Resource-type" content="Index">
	<meta name="Revisit-after" content="60 days">
	<meta name="robots" content="follow">
	<link rel="icon" href="images/icono_low.png">

	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1>REGISTRO</h1>
			<p>¡Únete a nuestra comunidad!</p>
		</header>


		<!-- Main -->
		<div id="main">

			<nav id="nav">
				<ul class="links">
					<li><a href="/" class="active">INICIO</a></li>
					<li><a href="/registro">REGISTRATE</a></li>
					<li><a href="/eventos">EVENTOS</a></li>
					<li><a href="/salondefama">SALON DE LA FAMA</a></li>
					<li><a href="/equipo">EQUIPO</a></li>

					<!--<li><a href="#">PATROCINADORES</a></li> -->
				</ul>
			</nav>




			<!-- Content -->

			<!-- Form -->
			<section class="main">
				<form id="formulario" method="post" action="/registro/form" enctype="multipart/form-data">
					<div class="row gtr-uniform">
						<h3>Información personal</h3>
						<div class="col-12 col-12-xsmall">
							<input type="text" name="nombre" id="name" placeholder="Nombre" required />
						</div>
						<div class="col-12 col-12-xsmall">
							<input type="email" name="correo" id="email" placeholder="Correo" required />
						</div>
						<h3>Nickname</h3>
						<div class="col-12 col-12-xsmall">
							<input type="text" name="sobrenombre" id="subject" placeholder="Nickname" required />
						</div>
						<div class="col-12 col-12-xsmall">
							<input type="password" name="contrasena1" id="pass1" placeholder="Contraseña" required />
						</div>
						<div class="col-12 col-12-xsmall">
							<input type="password" name="contrasena2" id="pass2" placeholder="Confirma tu contraseña"
								required />
						</div>
						<div class="col-4 col-12-smajlls">
							<div class="col-4 col-12-smajlls" id="div_file">
								<label class="file-upload icon solid fa-upload" for="fileup"> Subir Foto</label>
								<input id="btn_enviar" type="file" accept="image/png, 
								image/jpeg, image/jpg, image/png" name="foto" class="file-upload " required multiple>
							</div>


						</div>
						<div class="col-8 col-12-smajlls" id="preview"></div>

						<div class="col-12">
							<textarea name="message" required id="message"
								placeholder="Una frase inspiradora que quieras memorar" rows="6"></textarea>
						</div>

						<h3>Habilidades</h3>

						<div class="col-12">
							<select id="Back" name="BackEnd">
								<option>Back-end</option>
								<option>PHP</option>
								<option>Python</option>
								<option>Javascript</option>
								<option>Typescript</option>
								<option>Java</option>
								<option>Ruby</option>
								<option>C++</option>
								<option>C</option>
								<option>VSB(Macros Excel)</option>
								<option>Otro</option>
							</select>
						</div>

						<div class="col-12">
							<select id="Front" name="FrontEnd">
								<option>Front-End</option>
								<option>HTML5</option>
								<option>Bootstrap</option>
								<option>CSS3</option>
								<option>Fundation</option>
								<option>Mustach</option>
								<option>Angular</option>
								<option>Material</option>
								<option>Otro</option>
							</select>
						</div>
						<div class="col-12">
							<ul class="actions">
								<li><input type="submit" id="btnRegistrarse" value="Registrarse" /></li>
								<li><input type="reset" value="Limpiar Formulario"
										style="background-color: rgba(8, 58, 73, 0.658) ;" /></li>
							</ul>
						</div>
					</div>
				</form>
			</section>


		</div>

		<!--Footer-->
		<footer id="footer">
			<section style="align-items: center;">
				<header class="major">
					<h2>Nuestras redes sociales</h2>
				</header>


			</section>
			<section style="align-items: center;">
				<ul class="icons">
					<li><a href="https://twitter.com/pubdev01" target="_blank" class="icon brands fa-twitter alt"><span
								class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/pubdev" target="_blank"
							class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/pubdev" target="_blank"
							class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
					<li><a href="https://t.me/joinchat/DS7d-VbynYfq5sKTrMDYtA" target="_blank"
							class="icon brands fa-telegram alt"><span class="label">Telegram</span></a></li>
					<li><a href="https://www.youtube.com/channel/UCkWzkTACfvry7fwIkFRoKIQ" target="_blank"
							class="icon brands fa-youtube alt"><span class="label">YouTube</span></a></li>
				</ul>
			</section>
		</footer>

	</div>

	</div>

	<!-- PREVISUALIZAR LA IMAGEN -->
	<script>

		document.getElementById("btn_enviar").onchange = function (e) {
			let reader = new FileReader();

			reader.onload = function () {
				let preview = document.getElementById('preview'),
					image = document.createElement('img');

				image.src = reader.result;

				preview.innerHTML = '';
				preview.append(image);
			};

			reader.readAsDataURL(e.target.files[0]);
		}

	</script>

	<!-- Scripts -->
	<script src="resource/script?src=jquery-min"></script>
	<script src="resource/script?src=jquery-scrollex-min"></script>
	<script src="resource/script?src=jquery-scrolly-min"></script>
	<script src="resource/script?src=browser-min"></script>
	<script src="resource/script?src=breakpoints-min"></script>
	<script src="resource/script?src=util"></script>
	<script src="resource/script?src=main"></script>
	<script src="resource/script?src=registro"></script>

</body>

</html>