<!DOCTYPE html>
<html lang="es">
<!--
	Miniport by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>PubDev</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="DC.Language" SCHEME="RFC1766" content="Spanish">
	<meta name="author" content="Sebastian Roa Meneses">
	<meta name="reply-to" content="Serome111@gmail.com">
	<link rev="made" href="mailto:Serome111@gmail.com">
	<meta name="description" content="web en desarrollo">
	<meta name="KEYWORDS" content="palabras clave">
	<meta name="Resource-type" content="Index">
	<meta name="Revisit-after" content="60 days">
	<meta name="robots" content="follow">
	<link rel="icon" href="images/icono_low.png">
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1>SALÓN DE LA FAMA</h1>
			<p>Alcanza el primer lugar del salón de la fama de PubDev</p>
		</header>

		<!-- Main -->
		<div id="main">

			<nav id="nav">
				<ul class="links">
					<li><a href="/" class="active">INICIO</a></li>
					<li><a href="/registro">REGISTRATE</a></li>
					<li><a href="/eventos">EVENTOS</a></li>
					<li><a href="/salondefama">SALON DE LA FAMA</a></li>
					<!--<li><a href="#">PATROCINADORES</a></li> -->
				</ul>
			</nav>

			<section class="main">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>Rick Sanchez.</h2>
						</header>
						<p style="text-align: justify;">“Robot: ¿Cuál es mi propósito? – Rick: Pasar la mantequilla. –
							Robot: Oh, por Dios. – Rick: Sí, bienvenido al club, amigo.”</p>
						<ul class="actions">
							<li><a href="#" class="button">Conocer más...</a></li>
						</ul>
					</div>
					<span class="image"><img src="images/rick.gif" alt="" /></span>
				</div>
			</section>

			<!-- Content -->
			<section id="content" class="main">

				<h2>Listado de la fama</h2>
				<div class="table-wrapper">
					<table>
						<thead>
							<tr>
								<th></th>
								<th>Nombre</th>
								<th>Frase</th>
								<th>Puntos</th>
							</tr>
						</thead>
						<tbody id="tableusuar">
						</tbody>
					</table>
				</div>
			</section>

		</div>

		<!--Footer-->
		<footer id="footer">
			<section style="align-items: center;">
				<header class="major">
					<h2>Nuestras redes sociales</h2>
				</header>


			</section>
			<section style="align-items: center;">
				<ul class="icons">
					<li><a href="https://twitter.com/pubdev01" target="_blank" class="icon brands fa-twitter alt"><span
								class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/pubdev" target="_blank"
							class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/pubdev" target="_blank"
							class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
					<li><a href="https://github.com/PubDevs" target="_blank" class="icon brands fa-telegram alt"><span
								class="label">Telegram</span></a></li>
				</ul>
			</section>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

	<script src="assets/js/SalonDeLaFamaverusuarios.js"></script>

</body>

</html>