<!DOCTYPE html>
<html lang="es">
<!--
	Miniport by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	{{> head}}
	<link rel="icon" href="images/icono_low.png">
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1>SALÓN DE LA FAMA</h1>
			<p>Alcanza el primer lugar del salón de la fama de PubDev</p>
		</header>

		<!-- Main -->
		<div id="main">

			{{> nav}}

			<section class="main">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>Rick Sanchez.</h2>
						</header>
						<p style="text-align: justify;">“Robot: ¿Cuál es mi propósito? – Rick: Pasar la mantequilla. –
							Robot: Oh, por Dios. – Rick: Sí, bienvenido al club, amigo.”</p>
						<!-- <ul class="actions">
							<li><a href="#" class="button">Conocer más...</a></li>
						</ul> -->
					</div>
					<span class="image"><img src="images/rick.gif" alt="" /></span>
				</div>

				<a href="/puntos">¿Cómo ganar puntos?</a>

			</section>


			<!-- Content -->
			<section id="content" class="main">

				<h2>Listado de la fama</h2>
				<div class="table-wrapper">
					<table>
						<thead>
							<tr>
								<th></th>
								<th>Nombre</th>
								<th>Frase</th>
								<th>Puntos</th>
							</tr>
						</thead>
						<tbody id="tableusuar">
						</tbody>
					</table>
				</div>
			</section>
		</div>
		{{> footer}}

	</div>

	<!-- Scripts -->
	<script src="resource/script?src=jquery-min"></script>
	<script src="resource/script?src=jquery-scrollex-min"></script>
	<script src="resource/script?src=jquery-scrolly-min"></script>
	<script src="resource/script?src=browser-min"></script>
	<script src="resource/script?src=breakpoints-min"></script>
	<script src="resource/script?src=util"></script>
	<script src="resource/script?src=main"></script>

	<script src="resource/script?src=SalonDeLaFamaverusuarios"></script>

</body>

</html>